server-persistence/src/main/resources/META-INF/wsit-org.thespheres.betula.entities.service.BetulaService.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="BetulaService" targetNamespace="http://service.entities.betula.thespheres.org/" xmlns:tns="http://service.entities.betula.thespheres.org/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="fetch"/>
    <message name="fetchResponse"/>
    <message name="solicit"/>
    <message name="solicitResponse"/>
    <message name="UnauthorizedFault"/>
    <message name="NotFoundFault"/>
    <message name="SyntaxFault"/>
    <portType name="BetulaService">
        <operation name="fetch">
            <input message="tns:fetch"/>
            <output message="tns:fetchResponse"/>
        </operation>
        <operation name="solicit">
            <input message="tns:solicit"/>
            <output message="tns:solicitResponse"/>
            <fault name="UnauthorizedFault" message="tns:UnauthorizedFault"/>
            <fault name="NotFoundFault" message="tns:NotFoundFault"/>
            <fault name="SyntaxFault" message="tns:SyntaxFault"/>
        </operation>
    </portType>
    <binding name="BetulaServicePortBinding" type="tns:BetulaService">
        <operation name="fetch">
            <input></input>
            <output></output>
        </operation>
        <operation name="solicit">
            <input></input>
            <output></output>
            <fault name="UnauthorizedFault"/>
            <fault name="NotFoundFault"/>
            <fault name="SyntaxFault"/>
        </operation>
    </binding>
    <service name="BetulaService">
        <port name="BetulaServicePort" binding="tns:BetulaServicePortBinding"/>
    </service>
</definitions>
